.save-highlight{
  border: 3px #ad2d00 solid;
  -webkit-transition : border 500ms ease-out;
  -moz-transition : border 500ms ease-out;
  -o-transition : border 500ms ease-out;
}

.fit-content {
  display: inline-block
}
