<div class="content-area clr-row">
  <div class="clr-col clr-col-md-2 card card-block">
    <div class="card-header clr-row clr-align-content-center clr-justify-content-center p-0">
      <h3 class="clr-col card-title">To do</h3>
      <a class="clr-col-3 clr-col-md-2"><clr-icon shape="note" size="20"></clr-icon></a>
      <a class="clr-col-3 clr-col-md-2"><clr-icon shape="trash" class="is-error" size="20"></clr-icon></a>
    </div>
    <p class="card-text">
      123456789123456789123456789123456789123456789
    </p>
  </div>
</div>
